{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Styles block -->


<!-- Content block -->
{% block content %}
<div class="container">
    <form class="text-center">
        <input type="text" name="news_query" placeholder="Search for an article" class="form-control"><br>
        <input type="submit"  value="Submit" class="btn btn-primary">
    </form>

</div>

            <!-- general news section-->
            <div class="container">
                <div class="row">       
    <h3 class="news-header">Today</h3>
    <hr>
    <p>
        {{ macro.displayNewsList (general) }}
    </p>  
    
</div>

    {% endblock%}