
{%  extends 'base.html'  %}

{% macro displayNewsList(news_list) %}

<div class="container" id="articles-container">
    {% for news in news_list %}
    <div class="card mb-3 box" style="max-width: 640px; margin:auto;">
        <div class="row">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{news.url}}" target="_blanck">{{news.title}}</a></h5>
                    <p class="card-text">{{news.description}}</p>
                    <center><p><a href="/articles/{{news.id}}" target="_blank" class="btn btn-primary text-center">View more</a></p></center>
                  </div>
            </div>
{% endfor %}
{% for article in articles %}
            <div class="col-md-4 img-box">
                <img src="{{article.urlToImage}}" class="card-img" alt="..." height="100%">
            </div>
        </div>
    </div>
    {% endfor %}
    
{% endmacro %}
