<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        
<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="margin-left: 2rem;">NewsApp </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/" style="margin-left: 0.5rem;">Home</a></li>
        </div>

    </div>
</div>
</body>
</html>