{% import 'macros.html' as macro%}
<style>
    .sidebar{
        position: fixed;
        width: 200px;
        height: 100%;
        top: 0px;
        margin-top: 6rem;
        left: 0px;
        margin-left: 3rem;
        border-radius: 3%;
    }
    .sidebar a{
        width: 250px;
        display: block;
        margin: 24px 0px;
        padding: 10px 5px;
        font-weight: bolder;
        font-size: large;
        text-decoration: none;
        background-color: #d9e4ffc7;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        box-shadow: 0px 0.5px 1px grey;
        text-align: center;
    }
</style>

<div class="sidebar">
    <a href="/">Home</a>
    <a href="index/?search=top">Top News</a>

    <a href="">Business</a>
    <a href="">Technology</a>
    <a href="">Entertainment</a>
    <a href="">Sports</a>
    <a href="">Science</a>
    <a href="">Health</a>
</div>